<h1>Welcome to Mark Pfaff's Illustrious ITC 298 Node.js Test Page</h1>

<h2>Enter Artist's Name</h2>

<form method="post" action="/search">
	<input type="text" name="search_term" placeholder="Search" required maxlength="100">
	<button>Search</button>
</form>